%h3= "#{locals[:username]}&rsquo;s starred languages"
%p= "#{locals[:username]} has #{locals[:languages].size} favourite languages to star."

%div{class: "row"}
  %div{class: "col-4"}
    %canvas{id: 'radar-chart', width: 400, height: 400}
  %div{class: "col-8"}
    %ul
      - locals[:languages].each do |language, repos|
        %li
          %h4
            = language
            %small= "(#{repos.count} repos)"
          %p
            = repos.map { |r| "<a href='#{r['html_url']}'>#{r['full_name']}</a>" }.to_sentence + "."
